:root {
    /* Game Styling */
    --color-darkgrey: rgb(30, 30, 30);
    --color-lightgrey: rgb(70, 70, 70);
    --color-lightblue: rgb(50, 170, 220);

}

#player {
    background-color: var(--color-darkgrey);
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img {
    background-color: var(--color-darkgrey);
}
img:hover {
    background-color: var(--color-lightblue);

}
img, #pbar-container, #sbar-container {
    cursor: pointer;
}

#video-container {
    width: 640px;
    height: 360px;
}

video {
    height: 100%;
    width: 100%;
}


#pbar-container {
    height: 5px;
    margin-top: 2px;
    background-color: var(--color-lightgrey);
}

#pbar {
    height: 5px;
    width: 0%;
    background-color: var(--color-lightblue);
}

#buttons-container {
    height: 50px;
}

#buttons-container>* {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 10px;
}

#time-field {
    color: var(--color-lightblue);
    line-height: 50px;
}

#sound-buttons {
    margin-right: 0;
}

#sbar-container {
    margin-left: 0;
    width: 100px;
    height: 5px;
    background-color: var(--color-lightgrey);
}

#sbar {
    height: 100%;
    width: 100%;
    background-color: var(--color-lightblue);
}
#fullscreen-button {
    float: right;
}